body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "BlackLivesFont", sans-serif;
  /* Use the font-family where needed */
}
@font-face {
  font-family: "BlackLivesFont";
  src: url("../src/fonts/aBlackLives.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Sticky Header */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: sticky;
  bottom: 0;
  z-index: 1000;
}
